@use './mixins' as *;
$red: #D12727;
$white: #fff;

.prevBlock {
    margin-bottom: 100vh;
}

.contacts {
    background-color: #11181e;
    height: 100vh;
    width: 100vw;
    padding-top: 3.75em;
    padding-bottom: 3.75em;
    position: fixed;
    inset: auto 0% 0%;
    z-index: 0;
    pointer-events: auto;

    a {
        color: #fff;
    }

    &__inner {
        display: flex;
        position: relative;
        height: 100%;
        .contacts__title {
            letter-spacing: -0.06em;
            color: $white;
            line-height: 100%;
            position: relative;
        }
        
        .contacts__email {
            font-size: 10vw;
            font-weight: 500;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            svg{
                transition: .2s ease;

            } 
            
            &:hover {
                svg{
                    scale: 1.7;

                } 
            }
        }
        .contacts__link {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 1;
            position: absolute;
            font-weight: 300;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}