@import './mixins.scss';
$red: #D12727;
$white: #fff;

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-museomoderno);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: $red;
    font-size: 1vw;
    background-color: #11181e;
    position: relative;
    overflow: hidden;
    font-display: swap;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @keyframes noise {

        0%,
        100% {
            background-position: 0 0;
        }

        10% {
            background-position: -5% -10%;
        }

        20% {
            background-position: -15% 5%;
        }

        30% {
            background-position: 7% -25%;
        }

        40% {
            background-position: 20% 25%;
        }

        50% {
            background-position: -25% 10%;
        }

        60% {
            background-position: 15% 5%;
        }

        70% {
            background-position: 0% 15%;
        }

        80% {
            background-position: 25% 35%;
        }

        90% {
            background-position: -10% 10%;
        }
    }

    &:before {
        content: "";
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../public/background-noise.png');
        pointer-events: none;
        opacity: 1;
        animation: noise 0.2s infinite;
    }

    @include for-laptop {
        font-size: 1rem;
    }

    a {
        text-decoration: none;
    }

    .white_text {
        color: #fff;
        mix-blend-mode: exclusion;
    }

    .daliSound,
    .agnelliSound {
        visibility: hidden;
    }

    .banner {
        position: relative;
        z-index: 3;
        background: $red;
        display: flex;
        color: $white;
        font-size: 3em;
        height: 100vh;
        width: 100vw;

        &:after {
            content: "";
            z-index: 100;
            position: absolute;
            top: 50%;
            left: 50vw;
            width: 1.8em;
            height: .8em;
            transition: .4s ease;
            transform: translateY(-50%);
        }

        &__inner {
            position: relative;
            width: 100vw;
        }

        &__body {
            margin: 0.4em;
            padding: 0.4em 1em;

            @include for-laptop {
                padding: 0.4em .5em;
            }

            @include for-tablet {}
        }

        &__left {
            font-weight: 100;
            font-size: 1em;

            @include for-laptop {
                font-size: .9em;
            }

            @include for-mobile {
                font-size: 6vw;
            }
        }

        &__header {
            padding-block: .2em;
            padding-inline: 1em;
            background-color: $red;
            z-index: 999;
            position: fixed;
            top: 0em;
            left: 0;
            transform: translateY(0%);
            inset: 0% 0% auto;

            @include for-laptop {
                padding-inline: .5em;
            }
        }

        &__text {
            display: flex;
        }

        .svgTelegram svg {
            fill: #000000;
        }

        &__link {
            margin-left: auto;
            justify-content: end;
            display: inline-flex;
            font-size: .5em;
            align-items: center;
            letter-spacing: 1px;

            @include for-laptop {
                font-size: .35em;
            }

            @include for-mobile {
                font-size: 3vw;
            }

            a {
                display: flex;
                padding-right: 10px;
                align-items: center;
                color: $white;
                transition: all .2s ease-in-out;
                margin: auto;

                &:hover {
                    scale: 1.15;
                }
            }
        }

        &__link_svg {
            &:not(:last-child) {
                padding-right: 1em;
            }
        }

        &__logo {
            font-weight: 500;
            position: absolute;
            bottom: 0;
            color: $red;
            -webkit-text-stroke: 0.2rem $red;
            -webkit-text-fill-color: $white;
            transition: .4s ease;
            font-size: 7em;
            line-height: 1;

            @include for-laptop {
                font-size: 28vh;
                bottom: 10vh;
            }

            @include for-tablet {
                font-size: 52vw;
                bottom: 10vh;
                left: 0;
            }

            @include for-mobile {}
        }

        &__quote {
            display: flex;
            font-size: .7em;
            justify-content: end;
            align-items: end;
            justify-items: end;
            padding-block: 1em;
            margin-top: 7vh;
            animation: flicker .5s alternate;
            animation-delay: 3s;
            animation-duration: .1s;
        }

        @keyframes flicker {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 0.98;
            }
        }

        &__dali {
            font-size: 0.5em;
            letter-spacing: 1.5px;
            font-style: italic;
            line-height: 120%;
            color: #fafafa;
            width: 27.8%;
            flex-direction: column;
            display: flex;
            position: relative;
            align-items: end;
            justify-items: end;

            @include for-laptop {
                width: 50%;
            }

            @include for-mobile {
                width: 90%;
            }

            .banner__dali_img {
                opacity: 0;
                display: none;
                position: absolute;
                width: 90%;
                top: 0;

                @include for-laptop {
                    width: 100%;
                }
            }

            p {
                line-height: 130%;
            }
        }

        &__end {
            display: flex;
            justify-items: end;
            align-items: end;

            @include for-laptop {
                flex-direction: column;
            }

            @include for-tablet {}
        }

        &__info {
            display: flex;
            position: absolute;
            right: 1em;
            bottom: 3vh;
            font-weight: 100;
            flex-direction: column;
            justify-content: end;
            gap: .2em;

            @include for-laptop {
                font-size: 0.85em;
            }

            @include for-tablet {
                right: 0;
                left: .5em;
            }

            @include for-mobile {
                font-size: 6vw;
            }

            p {
                color: #fafafa;
                font-size: 0.35em;
                letter-spacing: 0.3em;
                text-align: center;
                text-transform: uppercase;

                @include for-laptop {
                    font-size: 0.35em;
                }

                @include for-tablet {
                    text-align: left;
                }

                @include for-mobile {}
            }
        }
    }
}