@use './mixins' as *;
$red: #D12727;
$white: #fff;

.stack {
    background-color: #11181e;
    z-index: 1;
    position: relative;
    color: #fff;

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;


        padding-top: 10em;
        padding-bottom: 5em;
        
        @include for-laptop {
            padding-block: 5em;
        }
        

        @include for-mobile {
            max-width: 90%;
        }

    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

    }


    &__title {
        letter-spacing: -0.05em;
        color: $white;
        color: #D12727;
        position: relative;
        font-size: 8em;
        font-weight: 900;
        transition: .4s ease;
        text-transform: uppercase;

        @include for-tablet {
            font-size: 5em;
        }
    }

    &__body {
        opacity: 0;
        background-color: #11181e;
        z-index: 10;
        display: flex;
        position: relative;

        @include for-laptop {
            display: block;
        }
    }

    &__body_col {
        opacity: 0;
        background-color: #11181e;
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        position: relative;

        @include for-laptop {
            grid-template-columns: repeat(2, 1fr);

        }



        @include for-mobile {
            // grid-template-columns: repeat(1, 1fr);
        }

        h5 {
            font-size: 4em;
            display: flex;
            flex-direction: column;
            padding-left: .5em;
            font-weight: 600;
            text-transform: capitalize;


            @include for-laptop {
                font-size: 6vw;

            }

            // @include for-mobile {
            // grid-template-columns: repeat(1, 1fr);
            // }
        }


        .stack__poslushat {
            font-size: .4em;
            font-weight: 300;
            letter-spacing: .9;

            &::before {
                content: '';
                display: inline-block;
                background-image: url('/icon/start.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 1.5em;
                height: 1.7em;
                vertical-align: middle;
            }

        }

        // @include for-laptop {
        //     display: block;
        // }
    }


    &__subtitle {
        letter-spacing: -0.03em;
        color: $white;
        line-height: 120%;
        position: relative;
        font-size: 2.5em;
        padding-bottom: .5em;
        font-weight: 400;
        transition: .4s ease;
        text-transform: uppercase;
    }

    &__front,
    &__back {
        display: flex;
        font-size: 1.7em;
        width: 85%;
        flex-wrap: wrap;
        font-weight: 300;
        gap: .5em;
        line-height: 1;
        padding-bottom: 3em;
        transition: .4s ease;
        text-transform: lowercase;

        @include for-mobile {
            font-size: 1.4em;
            gap: .5em;
        }
    }

    &__buv {
        // color: #D12727;
        margin-right: .4em;
        font-weight: 200;
        // font-style: italic;
    }

    &__saying {
        font-style: italic;
        letter-spacing: -0.06em;
        color: $white;
        line-height: 120%;
        position: relative;
        font-size: 3em;
        z-index: 9;
        scale: 0;
        opacity: 0;
        padding-block: 1em;
        font-weight: 200;
        transition: .4s ease;

        @include for-laptop {
            font-size: 6vw;
        }
    }
}